@using CodeAcademySite.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src=" https://www.googletagmanager.com/ns.html?id=gtm-kbw76dw"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->



<section id="news-list">
    <div class="wrapper">
        <div class="content-holder flexbox between">

            <div class="news-content">
                <div class="news-list">

                    @foreach (Slider item in ViewBag.sliders)
                    {
                        <div class="news">
                            <div class="img">
                                <img src="@Url.Content(item.Imagepath)"
                                     alt="Code Academy 3 illiyini qeyd etdi" />
                            </div>
                            <div class="desc flexbox middle">
                                <div class="content">
                                    <a href="/news/code-academy-3-illiyini-qeyd-etdi">
                                        <p>
                                            @item.Info
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>

                    }

                   
                </div>
            </div>

            <div class="events-list">
                <div class="mobile-events-handler">
                    <div class="wrapper">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span>Təqvim və yeniliklər</span>
                        <i class="fa arrow fa-caret-down" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="news-holder">
                    <div class="all-news">
                        @foreach (News item in ViewBag.news)
                        {

                            <div class="news">
                                <a href="#">
                                    <h1>@item.Header</h1>
                                    <p>@item.Content</p>
                                </a>
                            </div>
                        }

                       

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="features">
    <div class="wrapper">
        <div class="list flexbox between flex-wrap">

            @foreach (Feature item in ViewBag.features)
            {
                <div class="list-item " onclick="window.location.href='/education/beynalxalq_sertifkasiya'">
                    <div class="f_icon">
                        @Html.Raw(item.ImagePath)
                    </div>
                    <div class="desc">
                        <h3>
                            @item.Info
                        </h3>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

<section id="services"
         class="">
    <div class="heading">
        <h1>TƏDRİS PROQRAMLARIMIZ</h1>
    </div>
    <div class="wrapper">
        <div class="classes flexbox between flex-wrap">

            @foreach (EducationProgramm item in ViewBag.programms)
            {
                <a class="class flexbox middle @item.ClassName" href="#">@item.Info</a>
            }
            
        </div>
    </div>
</section>

<section id="graduates">
    <div class="container-fluid">

        <div class="row student-holder">
            <div class="wrapper">
                <div class="graduate-panel">
                    <div class="graduate-list">
                        @foreach (AboutU item in ViewBag.aboutus)
                        {
                            <div class="student">
                                <div class="flexbox flex-wrap-reverse">
                                    <div class="img">
                                        <img src="@Url.Content(item.Imagepath)"
                                             alt="Chingiz Safarov" />
                                        <span class="lines"></span>
                                    </div>
                                    <div class="heading flexbox flex-col">
                                        <div class="up">
                                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                                            <h2 class="type">@item.Header</h2>
                                        </div>
                                        <div class="details flexbox center flex-col">
                                            <h2>@item.FullName</h2>
                                            <p>@item.WorkAddress</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <p><p>@item.Content</p>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="icon-panel"><img src="~/Images/icons/linear.png" alt=""></div>
        </div>


        <div class="row student-holder down">
            <div class="wrapper flexbox end">
                <div class="graduate-panel">
                    <div class="graduate-list">

                        @foreach (Student item in ViewBag.students)
                        {
                            <div class="student">
                                <div class="flexbox flex-wrap-reverse">
                                    <div class="img">
                                        <img src="@Url.Content(item.Imagepath)" />
                                        <span class="lines"></span>
                                    </div>
                                    <div class="heading flexbox flex-col">
                                        <div class="up">
                                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                                            <h2 class="type">@item.Header</h2>
                                        </div>
                                        <div class="details flexbox center flex-col">
                                            <h2>@item.FullName</h2>
                                            <p>@item.WorkAddress</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <p><p>@item.Content</p>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="icon-panel"><img src="~/Images/icons/linear_left.png" alt=""></div>
        </div>



    </div>
</section>

<!-- Partners -->
<section id="partners">
    <div class="wrapper">
        <div class="heading">
            <h1>
                AKADEMİK PARTNYORLARIMIZ
            </h1>
        </div>
        <div class="partners-list flexbox between middle flex-wrap">
            @foreach (Partner item in ViewBag.partners)
            {
                <a class="partner flexbox middle center " href="https://code.edu.az/academy/akademik-partnyorlar">
                    <img src="@Url.Content(item.Imagepath)" alt="">
                </a>
            }
        </div>
    </div>
</section>
<!-- Partners end -->
<section id="contact">
    <div class="wrapper">
        <div class="flexbox middle center">
            @foreach (MeetingsImage item in ViewBag.meetingsimage)
            {
                <div class="background">
                    <img src="@Url.Content(item.ImagePath)" alt="">
                    <div class="overlay"></div>
                </div>
            }
                <div class="details flexbox center flex-col middle">
                    @foreach (MeetingsHeader item in ViewBag.meetingsheader)
                    {
                        <div class="heading">
                            <h2><span>@item.FirstPart</span>@item.SecondPart</h2>
                        </div>
                    }
                    <div class="contact-form form">

                        <form action="/form/letsmeet" class="flexbox between setCookie flex-wrap invalid validator" id="form-contact-me" method="post">
                            <input name="__RequestVerificationToken" type="hidden" value="AxN7GSLeLdzOT7eJ5iJ7TH20xQsiThW35x97sV7Ukf6IOp8HxaH5LPZGES8bz-msBDc3ZueRZ41P4s2X0_pTEGC2P31b0kszhaFb3TclphY1" />                                <input type="hidden" name="gaid" />
                            @foreach (MeetingsContent item in ViewBag.meetingscontent)
                            {
                                <div class="input-wrapper">
                                    <input id="bottom-name" type="text" placeholder="@item.Name" name="name" data-name="Adınız" class="validate input-control input-style">
                                    <span class="underline"></span>
                                </div>
                                <div class="input-wrapper">
                                    <input id="bottom-surname" type="text" placeholder="@item.Surname" name="surname" data-surname="Soyadınız" class="validate input-control input-style">
                                    <span class="underline"></span>
                                </div>
                                <div class="input-wrapper phone-input flexbox">
                                    <input type="hidden" name="number" data-prefix="(050)-" data-value="" value="" />
                                    <div class="phone-input-holder flexbox">
                                        <div class="phone-prefix">
                                            <select>
                                                <option value="050">050</option>
                                                <option value="051">051</option>
                                                <option value="055">055</option>
                                                <option value="070">070</option>
                                                <option value="077">077</option>
                                                <option value="012">012</option>
                                            </select>
                                        </div>
                                        <div class="phone-value">
                                            <input data-has-focus="false" id="bottom-number" type="text" placeholder="@item.Mobile" data-mask="number" data-validate-name="number" data-name="Mobil nömrəniz" class="validate input-control input-style">
                                            <span class="underline"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="input-wrapper flexbox bottom">
                                <input id="bottom-send" value="GÖNDƏR" type="submit" class="button-style button-blue input-control">
                            </div>
                            <div class="message-status">
                                <p class="message">
                                    <span></span>
                                    <i class="fa fa-check-circle"></i>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</section>



<div class="questions_popup">
    <div class="inner">
        <div class="title">
            <img src="Public/images/popup_bg.png" class="for_desktop" />
            <img src="Public/images/popup_bg_mobile.png" class="for_mobile" />
            <div class="texts">
                <h1>Sualınız var?</h1>
                <h4>Gəlin görüşək!</h4>
                <p>
                    Formu dolduraraq qeydiyyatdan keçin, əməkdaşlarımız sizinlə qısa zamanda əlaqə saxlayacaq
                </p>
                <div class="close_popup">
                    <img src="Public/images/close_popup.png" />
                </div>
            </div>
        </div>
        <div id="appeal">
            <div class="appeal-contact">
                <form id="form-appeal" class="flexbox setCookie between flex-wrap invalid validator" action="/form/appealquestion" method="POST">
                    <input type="hidden" name="gaid" />
                    <div class="input-wrapper invalid">
                        <input id="appeal-name" type="text" placeholder="Adınız Soyadınız" name="name" data-name="Ad" class="input-control input-style validate invalid">
                        <span class="underline"></span>
                        <span class="info"><i class="fa fa-info-circle" aria-hidden="true"></i>Məsələn John Doe</span>
                    </div>
                    <div class="input-wrapper phone-input flexbox">
                        <input type="hidden" name="number" data-prefix="(050)-" data-value="" value="">
                        <div class="phone-input-holder">
                            <div class="phone-prefix">
                                <select>
                                    <option value="050">050</option>
                                    <option value="051">051</option>
                                    <option value="055">055</option>
                                    <option value="070">070</option>
                                    <option value="077">077</option>
                                    <option value="012">012</option>
                                </select>
                            </div>
                            <div class="phone-value">
                                <input id="bottom-number" data-has-focus="false" type="text" placeholder="XXX-XX-XX" data-mask="number" data-validate-name="number" data-name="Mobil nömrəniz" class="validate input-control input-style">
                                <span class="underline"></span>
                            </div>
                        </div>

                    </div>
                    <div class="input-wrapper">
                        <div class="choose-question" id="js-drop">
                            <input id="appeal-education" type="hidden" data-value="" value="" name="education">
                            <div class="option-header"><span class="option-target">Tədris proqramını seçin</span> <span class="caret"></span></div>
                            <ul>
                                <li class="option" data-value="Qrafik və Veb Dizayn">Qrafik və Veb Dizayn</li>
                                <li class="option" data-value="Digital Marketing">Digital Marketing</li>
                                <li class="option" data-value="Proqramlaşdırma">Proqramlaşdırma</li>
                                <li class="option" data-value="Sistem  Administratorluğu">Sistem  Administratorluğu</li>
                                <li class="option" data-value="MS Office">MS Office</li>
                                <li class="option" data-value="3D Modelləşdirmə və Vizualizasiya">3D Modelləşdirmə və Vizualizasiya</li>
                            </ul>
                        </div>
                    </div>
                    <div class="input-wrapper" style="margin: 43px auto 0px;">
                        <input id="appeal-send" type="submit" class="button-style button-blue input-control" value="GÖNDƏR">
                    </div>

                    <input name="__RequestVerificationToken" type="hidden" value="T8kFS2asK8ermxEb56JnN31pC4je-oKLyvw0itlKZ4z2iLExTD3iUEBcZcplJPVmvPwLHwIuf9STotqUMRWJkBtK8BK74MROqS0oAJDXmG41" />
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/vendor.js"></script>

<script src="~/Scripts/vendor/cleave.min.js"></script>

<script src="~/Scripts/vendor/js.cookie.min.js"></script>



<script src="~/Scripts/main.js"></script>


<script>
    $(document).ready(function () {
        $('#bottom-send').click(function (e) {
            $('#bottom-send').closest('.input-wrapper').addClass("loading");
        });


        setTimeout(function () {
            if ($("input[name='gaid']").length > 0) {
                $("input[name='gaid']").val(ga.getAll()[0].get('clientId'))
            }
        }, 10000);
    });
</script>

